/*
    Buttons
*/

.btn {
    position: relative;
    border: 0;
    box-shadow: none;
    background: 0 0;
    cursor: pointer;
    padding: 0;
    @include focus-accessible();
    color: $color-white-100;
    user-select: none;
    appearance: none;

    &:not(.btn--link):not(.btn--filter):not(.dropdown-toggle) {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include font(700, 14px, 100%, $font-open-sans-700);
    }

    &:disabled {
        cursor: default;
    }

    .icon {
        margin: 0 0 0 16px;
    }

    /*
        Buttons

        CTA & Default
    */

    &--cta,
    &--default {
        &:not(:disabled) {
            @media (hover: hover) {
                &:hover {
                    &::before {
                        top: -5px;
                        right: -5px;
                        bottom: -5px;
                        left: -5px;
                        transition: $transition-duration all $transition-ease;
                        box-shadow: 0 0 0 1px $color-blue-100;
                    }
                }
            }

            &:active {
                transform: scale3d(.975, .975, .975);

                &::before {
                    top: -5px;
                    right: -5px;
                    bottom: -5px;
                    left: -5px;
                    transition: $transition-duration all $transition-ease;
                    box-shadow: 0 0 0 1px $color-blue-100;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: $transition-duration all $transition-ease;
                box-shadow: 0 0 0 1px transparent;
                content: '';
                pointer-events: none;
            }
        }

        &:disabled {
            color: $color-gray-30;
        }
    }

    /*
        Buttons

        CTA
    */

    &--cta {
        transition: $transition-duration color $transition-ease,
        $transition-duration background $transition-ease,
        $transition-duration transform $transition-ease;
        background: $color-blue-110;
        padding: 12px 30px;
        min-height: 48px;
        line-height: 22px;

        .has--custom-colors main & {
            background: var(--color-primary);
        }

        &:not(:disabled) {
            @media (hover: hover) {
                &:hover {
                    &:not(:active) {
                        background: $color-blue-100;

                        .has--custom-colors main & {
                            background: var(--color-primary);
                            filter: brightness(1.1);
                        }
                    }

                    &::before {
                        .has--custom-colors main & {
                            box-shadow: 0 0 0 1px var(--color-primary);
                        }
                    }
                }
            }

            &:active {
                &::before {
                    .has--custom-colors main & {
                        box-shadow: 0 0 0 1px var(--color-primary);
                    }
                }
            }
        }

        &:disabled {
            background: $color-gray-70;
        }
    }

    /*
        Buttons

        Default
    */

    &--default {
        transition: calc(#{$transition-duration} * 1.5) color $transition-ease,
        calc(#{$transition-duration} * 1.5) background $transition-ease,
        $transition-duration transform $transition-ease;
        background: 0 0;
        padding: 15px 30px;
        min-height: 48px;
        line-height: 18px;

        &:not(:disabled) {
            box-shadow: inset 0 0 0 1px $color-white-100;

            @media (hover: hover) {
                &:hover {
                    &:not(:active) {
                        background: $color-white-100;
                        color: $color-gray-100;

                        .icon {
                            fill: $color-blue-100;

                            .has--custom-colors main & {
                                fill: var(--color-secondary);
                            }
                        }
                    }

                    &::before {
                        .has--custom-colors main & {
                            box-shadow: 0 0 0 1px var(--color-secondary);
                        }
                    }
                }
            }

            &:active {
                background: $color-gray-10;
                color: $color-gray-100;

                &::before {
                    .has--custom-colors main & {
                        box-shadow: 0 0 0 1px var(--color-secondary);
                    }
                }

                .icon {
                    fill: $color-blue-100;

                    .has--custom-colors main & {
                        fill: var(--color-secondary);
                    }
                }
            }
        }

        &:disabled {
            box-shadow: inset 0 0 0 1px $color-gray-50;
        }
    }

    /*
        Buttons

        Secondary
    */

    &--secondary {
        min-height: 22px;
        line-height: 22px;

        &:not(:disabled) {
            transition: $transition-duration color $transition-ease, $transition-duration transform $transition-ease;

            @media (hover: hover) {
                &:hover {
                    color: $color-blue-90;

                    .has--custom-colors main & {
                        color: var(--color-secondary);
                    }
                }
            }

            &:active {
                transform: scale3d(.975, .975, .975);
                color: $color-blue-90;

                .has--custom-colors main & {
                    color: var(--color-secondary);
                }
            }

            &::before {
                background: $color-blue-100;

                .has--custom-colors main & {
                    background: var(--color-secondary);
                }
            }

            .icon {
                color: $color-blue-100;

                .has--custom-colors main & {
                    color: var(--color-secondary);
                }
            }
        }

        &:disabled {
            color: $color-gray-50;

            &::before {
                background: $color-gray-50;
            }
        }

        &::before {
            position: absolute;
            right: 0;
            bottom: -1px;
            left: 0;
            background: $color-blue-100;
            height: 1px;
            content: '';

            .has--custom-colors main & {
                background: var(--color-secondary);
            }
        }

        &.has--icon {
            &::before {
                right: 38px;
            }
        }
    }

    &--link {
        display: inline-flex;
        transition: $transition-duration color $transition-ease;
        text-decoration: underline;
        text-decoration-color: $color-blue-100;
        text-underline-offset: 1px;

        @media (hover: hover) {
            &:hover {
                color: $color-blue-100;

                .has--custom-colors main & {
                    color: var(--color-secondary);
                }
            }
        }
    }
}
