/*
    Lists
*/

ol,
ul,
dl,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-group-numbered {
    list-style-type: none;
    counter-reset: section;

    > li {
        position: relative;
        padding-top: 16px;
        padding-left: 38px;

        &::before {
            font-family: $font-open-sans-700;
            font-weight: 700;
            position: absolute;
            margin-left: -38px;
            content: counters(section, '.') '. ';
            counter-increment: section;
            color: $color-blue-100;

            .has--custom-colors main & {
                color: var(--color-secondary);
            }
        }
    }
}
