/*
    Helpers

    Background Colors
*/

[class*='bg--'] {
    background: $color-blue-100;
}

@each $color, $value in $bg-colors {
    .bg--#{$color} {
        background: $value;
    }
}

.gap {
    &--p {
        padding-top: $spacer * 3.5 !important;
        padding-bottom: $spacer * 3.5 !important;

        @include media-breakpoint-up(lg) {
            padding-top: $spacer * 6.25 !important;
            padding-bottom: $spacer * 6.25 !important;
        }

        &-top {
            padding-top: $spacer * 3.5 !important;

            @include media-breakpoint-up(lg) {
                padding-top: $spacer * 6.25 !important;
            }
        }

        &-bottom {
            padding-bottom: $spacer * 3.5 !important;

            @include media-breakpoint-up(lg) {
                padding-bottom: $spacer * 6.25 !important;
            }
        }
    }

    &--m {
        margin-top: $spacer * 3.5 !important;
        margin-bottom: $spacer * 3.5 !important;

        @include media-breakpoint-up(lg) {
            margin-top: $spacer * 6.25 !important;
            margin-bottom: $spacer * 6.25 !important;
        }

        &-top {
            margin-top: $spacer * 3.5 !important;

            @include media-breakpoint-up(lg) {
                margin-top: $spacer * 6.25 !important;
            }
        }

        &-bottom {
            margin-bottom: $spacer * 3.5 !important;

            @include media-breakpoint-up(lg) {
                margin-bottom: $spacer * 6.25 !important;
            }
        }
    }
}