/*
    Checkboxes Radios

    Wrapper
*/

.checkbox-radio--wrapper {
    display: flex;
    position: relative;
}

input {
    /*
        Checkboxes Radios

        Global Styles
    */

    &[type='checkbox'],
    &[type='radio'] {
        position: relative;
        transition: $transition-duration box-shadow $transition-ease;
        border: 0;
        background: transparentize($color-black-100, .7);
        width: 22px;
        @include focus-accessible();
        height: 22px;
        appearance: none;

        &:checked {
            &:not(:disabled) {
                .is--valid & {
                    box-shadow: inset 0 0 0 1px $color-green-100;

                    &::before,
                    &::after {
                        background: $color-green-100;
                    }
                }
            }
        }

        &:not(:disabled) {
            cursor: pointer;

            @media (hover: hover) {
                &:hover {
                    box-shadow: inset 0 0 0 1px $color-blue-100;

                    .has--custom-colors main & {
                        box-shadow: inset 0 0 0 1px var(--color-secondary);
                    }
                }
            }

            .is--invalid & {
                box-shadow: inset 0 0 0 1px $color-red-100;

                ~ label {
                    color: $color-red-100;

                    a {
                        text-decoration-color: $color-red-100;
                    }
                }
            }
        }

        &:disabled {
            background: transparentize($color-gray-10, .85);
            cursor: default;

            + label {
                cursor: default;
                color: $color-gray-50;
            }
        }

        + label {
            position: relative;
            margin: 0 0 0 -32px;
            cursor: pointer;
            padding: 0 0 0 44px;
            width: 100%;
            user-select: none;
        }
    }

    /*
        Checkboxes Radios

        Checkboxes
    */

    &[type='checkbox'] {
        border-radius: 1px;

        &:checked {
            &:not(:disabled) {
                &::before,
                &::after {
                    transition: $transition-duration transform $transition-ease-in-out,
                    $transition-duration opacity $transition-ease;
                    background: $color-blue-100;

                    .has--custom-colors main & {
                        background: var(--color-secondary);
                    }
                }
            }

            &:disabled {
                &::before,
                &::after {
                    background: $color-gray-50;
                }
            }

            &::before,
            &::after {
                opacity: 1;
            }

            &::before {
                transform: scale3d(1, 1, 1) rotate(-45deg);
            }

            &::after {
                transform: scale3d(1, 1, 1) rotate(45deg);
            }
        }

        &:not(:checked) {
            &:not(:disabled) {
                &::before,
                &::after {
                    background: $color-blue-100;

                    .has--custom-colors main & {
                        background: var(--color-secondary);
                    }
                }

                .is--valid & {
                    background: $color-green-100;
                }
            }
        }

        &::before,
        &::after {
            position: absolute;
            transform-origin: 50% 50%;
            transition: $transition-duration transform $transition-ease,
            $transition-duration opacity $transition-ease;
            opacity: 0;
            border-radius: 1px;
            content: '';
            pointer-events: none;
        }

        &::before {
            top: 10px;
            left: 7px;
            transform: scale3d(0, 0, 0) rotate(-45deg);
            width: 13px;
            height: 2px;
        }

        &::after {
            top: 12px;
            left: 4px;
            transform: scale3d(0, 0, 0) rotate(45deg);
            width: 7px;
            height: 2px;
        }
    }

    /*
        Checkboxes Radios

        Radios
    */

    &[type='radio'] {
        border-radius: 50%;

        &:checked {
            &:not(:disabled) {
                &::before {
                    transition: $transition-duration transform $transition-ease-in-out,
                    $transition-duration opacity $transition-ease;
                    background: $color-blue-100;

                    .has--custom-colors main & {
                        background: var(--color-secondary);
                    }
                }
            }

            &:disabled {
                &::before {
                    background: $color-gray-50;
                }
            }

            &::before {
                transform: scale3d(1, 1, 1) translate(-50%, -50%);
                opacity: 1;
            }
        }

        &:not(:checked) {
            &:not(:disabled) {
                &::before,
                &::after {
                    background: $color-blue-100;

                    .has--custom-colors main & {
                        background: var(--color-secondary);
                    }
                }

                .is--valid & {
                    background: $color-green-100;
                }
            }
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale3d(0, 0, 0) translate(-50%, -50%);
            transform-origin: 0 0;
            transition: $transition-duration transform $transition-ease,
            $transition-duration opacity $transition-ease;
            opacity: 0;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            content: '';
            pointer-events: none;
        }
    }
}