/*
    Loading Spinners
*/

.spinner-border {
    &.text-light {
        color: $color-blue-100 !important;
    }
}

.u-fade {
    position: relative;
    z-index: 100000;

    .c-loading {
        background: $color-blue-100;
    }
}
