/*
    Icons
*/

.icon {
    pointer-events: none;
    fill: currentColor;

    &,
    & * {
        transition: $transition-duration fill $transition-ease,
        $transition-duration transform $transition-ease;
    }

    &.icon--32 {
        width: 32px;
        height: 32px;
    }

    &.icon--24 {
        width: 24px;
        height: 24px;
    }

    &.icon--22 {
        width: 22px;
        height: 22px;
    }

    &.icon--20 {
        width: 20px;
        height: 20px;
    }

    &.icon--16 {
        width: 16px;
        height: 16px;
    }

    &.icon--11 {
        width: 11px;
        height: 11px;
    }

    &.icon--8 {
        width: 8px;
        height: 8px;
    }
}