/*
  Variables

  Colors
*/

$main-dark-100: #000000;
$main-dark-50: #14213D;
$main-orange: #FCA311;
$main-gray-100: #E5E5E5;
$main-white: #ffffff;

$color-gray-100: #1b1b25;
/*
    Variables

    Font Families
*/

$font-open-sans-400: 'Open Sans 400', sans-serif;
$font-open-sans-600: 'Open Sans 600', sans-serif;
$font-open-sans-700: 'Open Sans 700', sans-serif;
$font-open-sans-800: 'Open Sans 800', sans-serif;

$font-raleway-400: 'Raleway 400', sans-serif;
$font-raleway-800: 'Raleway 800', sans-serif;

$font-style-subtitle: 400 22px/1.455 $font-raleway-400;